.resume-sidebar {
  background: var(--white);
  padding: 40px 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
  color: var(--text);
}

.sidebar-brand {
  display: flex;
  align-items: center;
  gap: 8px;
  img {
    max-width: 36px;
  }
  span {
    font-size: 24px;
    font-weight: 700;
  }
}

.sidebar-steps {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;

  .step-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    &:last-child {
      .step-item-line {
        display: none;
      }
    }
  }

  .step-item-count {
    position: relative;
    border: 1px solid var(--text);
    color: var(--text);
    font-weight: 700;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;

    &.active {
      background: var(--primary);
      color: var(--white);
      border: 1px solid var(--primary);
    }
  }

  .step-item-line {
    width: 2px;
    background: var(--text);
    height: 24px;
  }

  .step-item-text {
    position: absolute;
    left: calc(100% + 12px);
    top: 50%;
    color: var(--text);
    transform: translateY(-50%);
    white-space: nowrap;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
}

.resume-sidebar {
  display: grid;
}

.site-brand {
  display: flex;
  align-items: center;
  column-gap: 6px;

  img {
    min-width: 40px;
    height: auto;

    @media (max-width: 992px) {
      max-width: 36px;
    }
  }
}
