.resume-block-summary {
  .resume-block-lead {
    background-color: var(--white);
    padding-left: 24px;
    padding-left: 24px;
    // border-bottom:1px solid black ;
  }
  .resume-row {
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: var(--white);
    .form-elem {
      .form-lbl {
        margin-bottom: 0px;
        margin-top: 16px;
      }
    }
  }
  .tox-editor-header {
    height: 30px;
  }
  .tox-statusbar {
    display: none !important;
    font-size: 16px !important;
  }
}
