.resume-block-content {
  background-color: var(--secondary);
  padding: 1px 24px;
}

.resume-block-ttl img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.resume-block-ttl {
  font-size: 24px !important;
  font-weight: 700;
  display: flex;
  margin-top: 16px;
  align-items: center;
}

.resume-block-container {
  background-color: var(--white);
  padding: 8px 24px;
  margin-top: 8px;
}

.resume-block-lead {
  font-size: 20px !important;
  font-weight: 700;

  //   margin: 24px 0px 16px 24px;
}

.resume-subttl-text > img {
  width: 20px;
  height: 20px;
  margin: 0px 6px;
}

.resume-subttl-text {
  display: flex;
  font-size: 14px;
  background-color: var(--pink);
  padding: 8px;
  border-radius: 6px;
  margin-top: 12px;
  color: var(--text);
}

.resume-type-select {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  padding-bottom: 130px;

  .resume-type-ssw,
  .resume-type-titp,
  .resume-type-visas {
    width: 310px;
    border: 1px solid var(--border);
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 6px;
    font-size: 24px;
    font-weight: 500;
  }
}
