.resume-block-contact {
  .resume-img {
    display: flex;
    gap: 10px;

    .img-upload-btn {
      display: flex;
      justify-content: center;
      align-items: center;

      .upload-img-icon {
        height: 20px;
        width: 20px;
        margin-right: 6px;
      }
    }
  }
  .resume-img-preview {
    img {
      object-fit: cover;
      border-radius: 4px;
      width: 80px;
      height: 80px;
    }
  }

  .resume-row {
    // grid-template-columns: 118px auto 300px;

    .resume-img-preview {
      overflow: hidden;
      // margin-bottom: 20px;
    }

    .img-upload-btn {
      // border: 1px solid var(--text);
      // border-radius: 40px;
      // padding: 4px;
      color: var(--text);
      font-weight: bold;
      font-size: 14px;
    }
    .img-upload-btn :hover {
      // background-color: var(--primary);
      color: var(--primary);
      transition: 0.6s;
      transition-timing-function: ease;
    }
  }

  .resume-block-container {
    margin-top: 16px;

    .resume-block-lead {
      padding-top: 16px;
      padding-bottom: 8px;
    }
    hr {
      color: var(--border);
    }

    .resume-subttl-text {
      font-size: 14px;
    }
  }
}
