.translator-div {
  display: flex;
  justify-content: right;
  margin-right: 50px;
  .translator {
    width: 50px;
  }
}

.resume-board-block {
  background-color: var(--secondary);
}

.preview-main {
  display: grid;
  // grid-template-columns: 240px auto;
  min-height: 1200px;
  margin: 30px;

  .preview-left {
    background: var(--cv);
    color: var(--btntext);
  }

  .preview-intro {
    padding: 40px;
  }

  .preview-intro-img {
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 12px;
  }

  .preview-intro-name {
    font-size: 26px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    line-height: 1.2;
  }
  .preview-intro-prof {
    margin-top: 6px;
    font-size: 18px;
    font-weight: 600;
  }
  .preview-block-head {
    // background: #00315c;
    padding: 4px 16px;
    font-size: 18px;
    font-weight: 700;
  }
  .preview-block-list {
    padding: 10px 16px;
    display: grid;
    row-gap: 8px;
  }
  .preview-list-item {
    display: flex;
    flex-direction: column;

    .list-item-lbl {
      font-weight: 600;
    }
    .list-item-val {
      font-weight: 300;
      opacity: 0.9;
    }
    .list-item-rate {
      height: 6px;
      width: 100%;
      background: #00315c;
      display: block;
      margin-top: 4px;
    }
    .list-item-rate-val {
      background: var(--white);
      height: 100%;
      display: block;
    }
  }
}

// PersonalDetails-Contact
.contact-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.contact-table td {
  border: 2px solid black;
  padding: 8px;
  vertical-align: middle;
}

.label {
  width: 20%;
  font-size: 15px;
  font-weight: normal;
  // background-color: #f9f9f9;
}

.bold-text {
  font-size: 22px;
  font-weight: bold;
}

.dob-info {
  font-size: 14px;
}

.gender-label {
  font-weight: bold;
  margin-left: 20px;
}

.photo-cell {
  width: 25%;
  text-align: center;
  vertical-align: top;
}

.photo {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
